.menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: #e5e1d8;
    border-right: 1px solid #000;

    ul {
        padding: 0;

        li {
            margin-bottom: 30px;
            list-style: none;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #83724b;
            }

            img {
                width: 30%;
                border-radius: 50%;
                margin-right: 10px;
            }


        }
    }

}