.menu {
    height: 100%;
    width: 170px;
    position: fixed;
    top: 0;
    left: 0;
    background: #e5e1d8;
    overflow-x: hidden;

    .logo {
        width: 100%;
    }

    ul {
        padding: 0;

        li {
            margin-bottom: 30px;
            list-style: none;
            font-size: .8rem;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #83724b;
            }

            img {
                width: 30%;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}